* {
  margin: 0;
  font-family: Arial, sans-serif;
  max-width: 100%;
}

.background {
  background-image: url(home-background.jpg);
  background-size: cover;
  height: 700px;
  width: 100%;
}
.back-shadow {
  position: absolute;
  height: 700px;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  transform: translate(0%, -100%);
}
.navbar {
  overflow-y: hidden;
  display: flex;
  position: absolute;
  height: 80px;
  margin-top: 10px;
  width: 100%;
  transform: translateY(-150%);
  top: 20%;
}
.nav-logo {
  height: 90px;
  width: 200px;
  margin-top: -20px;
  margin-left: 130px;
}
.logo {
  position: absolute;
  background-image: url(logo.png);
  height: 150px;
  width: 180px;
  background-repeat: no-repeat;
  background-size: contain;
}
.lang {
  margin-top: 12px;
  margin-left: 650px;
  display: flex;
}
.select1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  height: 32px;
  opacity: 0.95;
  font-size: 15px;
  nav-down: current;
  background: none;
  color: white;
  padding-left: 25px;
  width: 125px;
  border: 0.5px thin white;
  border-radius: 5px;
}
option {
  color: black;
}
.signin {
  margin-left: 10px;
}
.signin-btn {
  height: 32px;
  text-align: center;
  font-weight: 550;
  width: 90px;
  font-size: 15px;
  background-color: red;
  border-radius: 5px;
  color: white;
  border: none;
}

/*main text*/
.main-txt {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -20%);
  top: 50%;
  left: 50%;
  color: white;
  height: 500px;
  width: 800px;
}
.main-txt h1 {
  font-size: 55px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}
.starts {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 500;
}
.ready {
  font-size: 17px;
  margin-top: 35px;
}
.email {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  height: 52px;
  opacity: 0.95;
  font-size: 15px;
  opacity: 0.8;
  background-color: #d6d6d6;
  background: none;
  color: white;
  padding-left: 25px;
  margin-left: -30px;
  width: 400px;
  border: 0.5px solid #d6d6d6;
  border-radius: 5px;
}
.get-started {
  height: 55px;
  margin-top: 20px;
  text-align: center;
  font-weight: 550;
  width: 155px;
  font-size: 20px;
  background-color: red;
  border-radius: 5px;
  color: white;
  border: none;
}
.border-1 {
  position: absolute;
  height: auto;
  width: 100%;
  border-top: 1px solid white;
  background-color: black;
}
.trending {
  margin: 45px 0px 0px 100px;
  color: white;
  font-size: 25px;
}
.box {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  max-width: 100%;
  justify-content: space-evenly;
  color: white;
  margin: 45px 0px 0px 100px;
}
.box1 {
  margin-left: 20px;
  margin-right: 30px;
  background-size: cover;
  height: 200px;
  width: 150px;
  border: none;
  border-radius: 8px;
}
.box1:hover {
  transition: transform 0.3s ease;
  transform: scale(1.2);
}

.number {
  color: black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  margin-right: 150px;
  margin-left: -25px;
  padding-top: 95px;
  font-size: 90px;
}
